<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.commontime.cordova.pushpluginwrapper" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PushPluginWrapper</name>
    <js-module name="PushPluginWrapper" src="www/PushPluginWrapper.js">
        <clobbers target="cordova.plugins.notification" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PushPluginWrapper">
                <param name="android-package" value="com.commontime.cordova.pushpluginwrapper.PushPluginWrapper" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/PushPluginWrapper.java" target-dir="src/com/commontime/cordova/pushpluginwrapper/PushPluginWrapper" />
    </platform>
</plugin>