<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.commontime.cordova.pushpluginwrapper" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PushPluginWrapper</name>
    <js-module name="PushPluginWrapper" src="www/PushPluginWrapper.js">
        <clobbers target="cordova.plugins.notification" />
    </js-module>
</plugin>
